header {
  width: auto;
  height: 10vh;
}

img {
  object-fit: cover;
  width: 20vw;
  height: 10vh;
}

div {
  float: right;
  line-height: 10vh;
  font-size: 1.6em;
  padding-right: 3vw;
}

a {
  text-decoration-line: none;
  color: black;
  padding-left: 2vw;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #444;
}
