
div {
  font-size: 4vh;
  font-family: serif;
  margin-left: 15vh;
}

input,textarea {
  margin-bottom: 1vh;
  margin-top: 1vh;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 90%;
  height: 3vh;
}

label {
  float: left;
  text-align: left;
  font-size: 3vh;
  font-family: serif;
  margin-left: 3vh;
}

button {
  font-size: 3vh;
  font-family: serif;
  float: left;
  margin-left: 3vh;
}
