mat-card {
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 5%;
}

img {
  display: inline-block;
  margin-top: 10vh;
  margin-left: 3vh;
  height: 6vw;
  width: 6vw;
}

span {
  line-height: 10vh;
  margin-left: 15vh;
}

 span, a {
  font-size: 4vh;
  font-family: monospace;
  vertical-align: middle;
}

a {
  float: right;
  padding-right: 5vw;
  line-height: 15vh;
  text-decoration-line: underline;
  color: black;
}

a:hover, a:focus {
	text-decoration: none;
	color: #444;
}
