mat-card {
  margin-bottom: 1%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  vertical-align: middle;
  padding-left: 5%;
}

img {
  height: 5vw;
  width: 5vw;
  object-fit: cover;
  margin-bottom: 0px;
}

span {
vertical-align: middle;
text-align: center;
margin-top: 0px;
}

div {
  font-size: 4vh;
  font-family: monospace;
  vertical-align: middle;
}

