/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: young;
  src: url(assets/font/Mf_Young_&_Beautiful.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
